{% extends 'base.html.twig' %}

{% block body %}
    <center>
    <h3>
        <p> <a href="{{path('produkty')}}"> Lista produktów </a> </p>
          
        <p>   <a href="{{path('ostatni_import')}}"> Ostatni import </a> </p>

      </h3>
    </center>
{% endblock %}

